.root {
    max-width: 375px;
    position: relative;
}

.img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.content {
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: 834px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

.description {
    font-size: 14px;
    margin-bottom: 12px;
    color: #888;
}

.price {
    font-weight: 500;
    font-size: 24px;
}

.actions {
    display: none;
}

.root:hover .actions {
    display: block;
}
