.form {
    border-radius: 20px;
    background: #f7f6f6;
    padding-top: 42px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 148px;

    @media (min-width: 768px) {
        max-width: 376px;
    }
}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
}

.field {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.input {
    color: #000;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cacdd8;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;

    &::placeholder {
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.fieldsContainer {
    margin-bottom: 64px;
}

.total {
    margin: 0;
    margin-bottom: 18px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.value {
    font-weight: 500;
    font-size: 24px;
}

.buttonContainer {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
